.outer-container {
  position: relative;
  display: inline-block;
}

.container {
  display: inline-block;
  position: relative;
}

.hit-box-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  align-items: flex-end;

  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

  color: white;

  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 13px;
  outline: 0;

  &:disabled {
    background-color: rgba(0, 0, 0, 0.16);
    color: rgba(0, 0, 0, 0.32);
    border: solid 1px rgba(0, 0, 0, 0.16);
    box-shadow: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.16);
      color: rgba(0, 0, 0, 0.32);
      border: solid 1px rgba(0, 0, 0, 0.16);
    }
  }

  &.fluid {
    max-width: 100%;
    width: 100%;
  }
}

.neutral {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);

  border: solid 1px rgba(0, 0, 0, 0.16);
  border-radius: 4px;

  color: #58636f;

  &:hover,
  &.activated {
    color: #3498db;
    border-color: #3498db;

    .neutral-icon {
      color: #3498db;
    }
  }
}

.default-icon {
  color: white;

  &.neutral-icon {
    color: #D3DADC;
  }
}

.only-icon {
  font-size: 16px;
}

.small {
  padding: 8px 16px;

  &.only-icon {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.large {
  padding: 16px 16px;
}

.neutral-off {
  color: white;
}

@mixin size($size, $color, $hoverColor) {
  .#{$size} {
    transition: background .3s ease;

    border: solid 1px rgba(0, 0, 0, 0.16);

    background-color: $color;

    &.only-icon {
      color: $color;
    }

    &:hover {
      background-color: $hoverColor;
    }

    &:focus {
      background-color: $hoverColor;
      box-shadow: none;
    }
  }
}

@include size(primary, #FF4411, #DD3311);
@include size(neutral-off, transparent, #2980B9);
@include size(secondary, #3498db, #2980B9);
@include size(request, #2ECC71, #27AE60);
@include size(closed, #9b59b6, #8e44ad);
@include size(negative, #dd3311, #bc2b0e);
