@font-face {
  font-family: 'whatsgood-fonticon';
  src: url('whatsgood-iconfont.eot?vexkpz');
  src: url('whatsgood-iconfont.eot?vexkpz#iefix') format('embedded-opentype'),
  url('whatsgood-iconfont.ttf?vexkpz') format('truetype'),
  url('whatsgood-iconfont.woff?vexkpz') format('woff'),
  url('whatsgood-iconfont.svg?vexkpz#whatsgood-iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

:global {
  [class^="wg-"], [class*=" wg-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'whatsgood-fonticon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .wg-hornet:before {
    content: "\e901";
  }
  .wg-connect-p:before {
    content: "\e902";
  }
  .wg-inventory:before {
    content: "\e903";
  }
  .wg-browse-products:before {
    content: "\e904";
  }
  .wg-message:before {
    content: "\e905";
  }
  .wg-order:before {
    content: "\e906";
  }
  .wg-purchaser:before {
    content: "\e907";
  }
  .wg-purveyor:before {
    content: "\e908";
  }
  .wg-agricultural-supplies:before {
    content: "\e909";
  }
  .wg-flag:before {
    content: "\e90a";
  }
  .wg-loading:before {
    content: "\e90b";
  }
  .wg-add-note:before {
    content: "\e90c";
  }
  .wg-caution:before {
    content: "\e90d";
  }
  .wg-add-to-cart:before {
    content: "\e90e";
  }
  .wg-add:before {
    content: "\e90f";
  }
  .wg-added-to-cart:before {
    content: "\e910";
  }
  .wg-arrow-bottom:before {
    content: "\e911";
  }
  .wg-arrow-left:before {
    content: "\e912";
  }
  .wg-arrow-right:before {
    content: "\e913";
  }
  .wg-arrow-top:before {
    content: "\e914";
  }
  .wg-attachment:before {
    content: "\e915";
  }
  .wg-browse:before {
    content: "\e916";
  }
  .wg-business:before {
    content: "\e917";
  }
  .wg-calendar:before {
    content: "\e918";
  }
  .wg-cards:before {
    content: "\e919";
  }
  .wg-cart-model:before {
    content: "\e91a";
  }
  .wg-check:before {
    content: "\e91b";
  }
  .wg-clock:before {
    content: "\e91c";
  }
  .wg-close-int:before {
    content: "\e91d";
  }
  .wg-connect:before {
    content: "\e91e";
  }
  .wg-connected-p:before {
    content: "\e91f";
  }
  .wg-dairy:before {
    content: "\e920";
  }
  .wg-deliver:before {
    content: "\e921";
  }
  .wg-delivered:before {
    content: "\e922";
  }
  .wg-dot:before {
    content: "\e923";
  }
  .wg-edit:before {
    content: "\e924";
  }
  .wg-pause:before {
    content: "\e925";
  }
  .wg-farm-goods:before {
    content: "\e926";
  }
  .wg-forbidden:before {
    content: "\e927";
  }
  .wg-camera:before {
    content: "\e928";
  }
  .wg-gear:before {
    content: "\e929";
  }
  .wg-google-plus:before {
    content: "\e92a";
  }
  .wg-info:before {
    content: "\e92b";
  }
  .wg-alert:before {
    content: "\e92c";
  }
  .wg-legumes:before {
    content: "\e92d";
  }
  .wg-list:before {
    content: "\e92f";
  }
  .wg-loading2:before {
    content: "\e930";
  }
  .wg-location:before {
    content: "\e931";
  }
  .wg-mail:before {
    content: "\e932";
  }
  .wg-meat:before {
    content: "\e933";
  }
  .wg-notifications:before {
    content: "\e934";
  }
  .wg-more-info:before {
    content: "\e935";
  }
  .wg-next-int:before {
    content: "\e936";
  }
  .wg-support:before {
    content: "\e937";
  }
  .wg-plant:before {
    content: "\e938";
  }
  .wg-polygon:before {
    content: "\e939";
  }
  .wg-preferences:before {
    content: "\e93a";
  }
  .wg-printer:before {
    content: "\e93b";
  }
  .wg-purchase-list2:before {
    content: "\e93c";
  }
  .wg-question:before {
    content: "\e93d";
  }
  .wg-reply:before {
    content: "\e93e";
  }
  .wg-roots:before {
    content: "\e93f";
  }
  .wg-seafood:before {
    content: "\e940";
  }
  .wg-search:before {
    content: "\e941";
  }
  .wg-small-arrow-bottom:before {
    content: "\e942";
  }
  .wg-small-arrow-left:before {
    content: "\e943";
  }
  .wg-small-arrow-right:before {
    content: "\e944";
  }
  .wg-small-arrow-top:before {
    content: "\e945";
  }
  .wg-trash:before {
    content: "\e946";
  }
  .wg-tip:before {
    content: "\e947";
  }
  .wg-user:before {
    content: "\e948";
  }
  .wg-icon-bank-account:before {
    content: "\e94a";
  }
  .wg-delivery-route:before {
    content: "\e94b";
  }
  .wg-wg:before {
    content: "\e94c";
  }
  .wg-youtube:before {
    content: "\e94d";
  }
  .wg-alternative-proteins:before {
    content: "\e94e";
  }
  .wg-baked-Products:before {
    content: "\e94f";
  }
  .wg-baking-supplies:before {
    content: "\e950";
  }
  .wg-deverages:before {
    content: "\e951";
  }
  .wg-dairy-n-eggs:before {
    content: "\e952";
  }
  .wg-fats-n-oils:before {
    content: "\e953";
  }
  .wg-fishes:before {
    content: "\e954";
  }
  .wg-fruits:before {
    content: "\e955";
  }
  .wg-fungi:before {
    content: "\e956";
  }
  .wg-grains:before {
    content: "\e957";
  }
  .wg-grocery-Items:before {
    content: "\e958";
  }
  .wg-legumes-n-Nuts:before {
    content: "\e959";
  }
  .wg-meats:before {
    content: "\e95a";
  }
  .wg-non-edibles:before {
    content: "\e95b";
  }
  .wg-other-Seafood:before {
    content: "\e95c";
  }
  .wg-poultry:before {
    content: "\e95d";
  }
  .wg-n-soups:before {
    content: "\e95e";
  }
  .wg-ready-to-serve:before {
    content: "\e95f";
  }
  .wg-shellfishes:before {
    content: "\e960";
  }
  .wg-sweets:before {
    content: "\e961";
  }
  .wg-vegetables:before {
    content: "\e962";
  }
  .wg-list-view:before {
    content: "\e963";
  }
  .wg-purchase-list:before {
    content: "\e964";
  }
  .wg-close:before {
    content: "\e965";
  }
  .wg-added-note:before {
    content: "\e966";
  }
  .wg-add-note2:before {
    content: "\e967";
  }
  .wg-add-to-list:before {
    content: "\e968";
  }
  .wg-more-options:before {
    content: "\e969";
  }
  .wg-plus:before {
    content: "\e96a";
  }
  .wg-shopping-cart:before {
    content: "\e96b";
  }
  .wg-invoice:before {
    content: "\e96c";
  }
  .wg-verified:before {
    content: "\e96d";
  }
  .wg-facebook:before {
    content: "\e96e";
  }
  .wg-instagram:before {
    content: "\e96f";
  }
  .wg-linkedin:before {
    content: "\e970";
  }
  .wg-twitter:before {
    content: "\e971";
  }
  .wg-all-products:before {
    content: "\e900";
  }
}
